<a href="/"> Back </a>

<h4> Hello. My name is Gerald. </h4>

<p>
  This is my profile details API Server. From this page, you will be able to get APIs to use on your website with regards to my details, links as well as links to past projects.

  Just use the api url links as specified in the menu page on your website. Thanks!
</p>
