<a href="/"> Back </a>

<h4> Without having to access my API ,these are my contact details. </h4>

<p>
  Name: Gerald Ang <br>
  Age: 33 <br>
  Email: geraldangw@gmail.com <br>
  Contact Number: +65 98800333 <br>
  <a href="https://www.facebook.com/gerald.ang.982"> My Facebook </a> <br>
  <a href="https://sg.linkedin.com/in/gerald-ang-8344463a"> My Linked In </a> <br>
  <a href="mailto:geraldangw@gmail.com"> Email Me Now </a>
</p>
