<h4> Please click on the links below to access the required information. </h4>

<nav>
  <ul>
    <li> <a href="/about"> About Me </a> </li>
    <li> <a href="/contact"> Contact </a> </li>
    <li> <a href="/details"> Details API </a> </li>
    <li> <a href="/details/new"> Or Make New Details </a> </li>
    <li> <a href="/portfolios"> Projects API </a> </li>
    <li> <a href="/portfolios/new"> Or Make New Project </a> </li>
  </ul>
</nav>
