<h4> Please click on the links below to access the required information. </h4>

<nav>
  <ul>
    <li> <a href="/about"> About Me </a> </li>
    <li> <a href="/contact"> Contact </a> </li>
    <li> <a href="/information"> Profile Details API </a> </li>
    <li> <a href="/links"> Profile Links API </a> </li>
    <li> <a href="/projects"> Project Details API </a> </li>
  </ul>
</nav>
