<h4>New portfolios</h4>

<form method="post" action="/portfolios">
  <label for="name">Name</label>
  <input type="text" name="name" id="portfolio_name"><br>

  <label for="category"> Category </label>
  <input type="text" name="category" id="portfolio_category"><br>

  <label for="description"> Description </label>
  <input type="text" name="description" id="portfolio_description"><br>

  <label for="link">Link</label>
  <input type="text" name="link" id="portfolio_link"><br>

  <label for="image">Image Link</label>
  <input type="text" name="image" id="portfolio_image"><br>

  <button>Submit</button><br>
</form>
