
<h4>New Details</h4>

<form method="post" action="/details">
  <label for="name">Name</label>
  <input type="text" name="name" id="detail_name"><br>

  <label for="age">Age</label>
  <input type="text" name="age" id="detail_age"><br>

  <label for="email">Email</label>
  <input type="text" name="email" id="detail_email"><br>

  <label for="contactnum">Contact Number</label>
  <input type="text" name="contactnum" id="detail_contactnum"><br>

  <label for="dateofbirth">Date of Birth</label>
  <input type="text" name="dateofbirth" id="detail_dateofbirth"><br>

  <label for="image">Image Link</label>
  <input type="text" name="image" id="detail_image"><br>

  <label for="facebook">Facebook Link </label>
  <input type="text" name="facebook" id="detail_facebook"><br>

  <label for="linkedin">Linked In</label>
  <input type="text" name="linkedin" id="detail_linkedin"><br>

  <label for="emailme">Email Link</label>
  <input type="text" name="emailme" id="detail_emailme"><br>

  <button>Submit</button><br>
</form>
